#fizzbuzz-form {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    padding: 15px;
    justify-content: center;
    align-items: center;
}
table {
    text-align: center;
}

button {
    width: fit-content;
    padding: 5px 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

#result {
    width: 70%;
    margin: auto;
    font-weight: bolder;
}